<section id='todoapp'>
  <header id='header'>
    <h1>todos</h1>
    {{input type='text' id='new-todo' placeholder='What needs to be done?'
            value=newTitle action='createTodo'}}
  </header>

  <section id='main'>
    <ul id='todo-list'>
      {{#each todo in this itemController='todos/item-controller'}}
        <li {{bind-attr class='todo.isCompleted:completed todo.isEditing:editing'}}>
          {{#if todo.isEditing}}
            {{edit-todo class='edit' value=todo.title focus-out='acceptChanges'
                                     insert-newline='acceptChanges'}}
          {{else}}
            {{input type='checkbox' checked=todo.isCompleted class='toggle'}}
            <label {{action 'editTodo' on='doubleClick'}}>{{todo.title}}</label>
            <button {{action 'removeTodo'}} class='destroy'></button>
          {{/if}}
        </li>
      {{/each}}
    </ul>
    {{input type='checkbox' id='toggle-all' checked=allAreDone}}
  </section>

  <footer id='footer'>
    <span id='todo-count'>
      <strong>{{active.length}}</strong> {{inflection}} left
    </span>
    <ul id='filters'>
      <li>
        {{link-to 'All' 'todos' (query-params state='all') activeClass='selected'}}
      </li>
      <li>
        {{link-to 'Active' 'todos' (query-params state='active') activeClass='selected'}}
      </li>
      <li>
        {{link-to 'Completed' 'todos' (query-params state='completed') activeClass='selected'}}
      </li>
    </ul>

    {{#if hasCompleted}}
      <button id='clear-completed' {{action 'clearCompleted'}}>
        Clear completed ({{completed.length}})
      </button>
    {{/if}}
  </footer>
</section>

<footer id='info'>
  <p>Double-click to edit a todo</p>
</footer>
